# List

In [197]:
list = [1,2,3,4,5]

In [198]:
list.append(55)

In [199]:
list

[1, 2, 3, 4, 5, 55]

In [200]:
list.append('anu')

In [201]:
list

[1, 2, 3, 4, 5, 55, 'anu']

In [202]:
list.append(1)

In [203]:
list

[1, 2, 3, 4, 5, 55, 'anu', 1]

In [204]:
list.copy

In [205]:
list.append(2)

In [206]:
list

[1, 2, 3, 4, 5, 55, 'anu', 1, 2]

In [207]:
list.count(2)

2

In [208]:
list.count(5)

1

In [209]:
list1 = ['A','B','C']

In [210]:
list1

['A', 'B', 'C']

In [211]:
list.extend(list1)

In [212]:
list

[1, 2, 3, 4, 5, 55, 'anu', 1, 2, 'A', 'B', 'C']

In [213]:
list1

['A', 'B', 'C']

In [214]:
list1.extend(list)

In [215]:
list1

['A', 'B', 'C', 1, 2, 3, 4, 5, 55, 'anu', 1, 2, 'A', 'B', 'C']

In [216]:
list.clear()

In [217]:
list

[]

In [218]:
list = [1,1,22,3,'anu',1]

In [219]:
list

[1, 1, 22, 3, 'anu', 1]

In [220]:
list.index(3,0,5)

3

In [221]:
list.index(3)

3

In [222]:
list.index('anu')

4

In [223]:
list.insert(1,5)

In [224]:
list

[1, 5, 1, 22, 3, 'anu', 1]

In [225]:
list.pop(1)

5

In [226]:
list

[1, 1, 22, 3, 'anu', 1]

In [227]:
list.remove(22)

In [228]:
list

[1, 1, 3, 'anu', 1]

In [229]:
list.reverse()

In [230]:
list

[1, 'anu', 3, 1, 1]

In [231]:
list.remove('anu')

In [232]:
list

[1, 3, 1, 1]

In [233]:
list.sort()

In [234]:
list

[1, 1, 1, 3]

# Dictionary

In [235]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [236]:
dict

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [237]:
dict.clear()

In [238]:
dict

{}

In [239]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [240]:
dict

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [241]:
dict.copy()

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [242]:
dict

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [243]:
dict.copy()

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [244]:
dict.fromkeys('Name')

{'N': None, 'a': None, 'm': None, 'e': None}

In [245]:
dict.fromkeys('Name','Age')

{'N': 'Age', 'a': 'Age', 'm': 'Age', 'e': 'Age'}

In [246]:
dict.fromkeys('Name', 'Zara')

{'N': 'Zara', 'a': 'Zara', 'm': 'Zara', 'e': 'Zara'}

In [247]:
dict.get('Name')

'Zara'

In [248]:
dict.items()

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

In [249]:
dict.keys()

dict_keys(['Name', 'Age', 'Class'])

In [250]:
dict.pop('Age')

7

In [251]:
dict

{'Name': 'Zara', 'Class': 'First'}

In [252]:
dict.popitem()

('Class', 'First')

In [253]:
dict.setdefault('Name')

'Zara'

In [254]:
dict.update()

In [255]:
dict

{'Name': 'Zara'}

# Sets

In [256]:
set={1,1,1,12,2,2,3,'sdf',0}

In [257]:
set

{0, 1, 12, 2, 3, 'sdf'}

In [258]:
set.add('day')

In [259]:
set

{0, 1, 12, 2, 3, 'day', 'sdf'}

In [260]:
set.clear()

In [261]:
set

set()

In [262]:
set={1,2,9,'sunday','monday'}

In [263]:
set

{1, 2, 9, 'monday', 'sunday'}

In [264]:
set.copy()

{1, 2, 9, 'monday', 'sunday'}

In [265]:
set1={2,4,5,6}

In [266]:
set1

{2, 4, 5, 6}

In [267]:
set.difference(set1)

{1, 9, 'monday', 'sunday'}

In [268]:
set.difference_update(set1)

In [269]:
set

{1, 9, 'monday', 'sunday'}

In [270]:
set1

{2, 4, 5, 6}

In [271]:
set.add(2)

In [272]:
set.add(4)

In [273]:
set

{1, 2, 4, 9, 'monday', 'sunday'}

In [274]:
set1.difference_update(set)

In [275]:
set

{1, 2, 4, 9, 'monday', 'sunday'}

In [276]:
set1

{5, 6}

In [277]:
set.discard(1)

In [278]:
set

{2, 4, 9, 'monday', 'sunday'}

In [279]:
set.discard('monday')

In [280]:
set

{2, 4, 9, 'sunday'}

In [281]:
set.intersection(set1)

set()

In [282]:
set1.add('sunday')

In [283]:
set1.add(2)

In [284]:
set.intersection(set1)

{2, 'sunday'}

In [285]:
set.intersection_update(set1)

In [286]:
set

{2, 'sunday'}

In [287]:
set1

{2, 5, 6, 'sunday'}

In [288]:
set1.intersection_update(set)

In [289]:
set

{2, 'sunday'}

In [290]:
set1

{2, 'sunday'}

In [291]:
set.isdisjoint(set1)

False

In [292]:
set1.isdisjoint(set)

False

In [293]:
set.add(1)

In [294]:
set.add(4)

In [295]:
set.add(6)

In [296]:
set1.add(4)

In [297]:
set1.add(8)

In [298]:
set1.add(1)

In [299]:
set

{1, 2, 4, 6, 'sunday'}

In [300]:
set1

{1, 2, 4, 8, 'sunday'}

In [301]:
set.isdisjoint(set1)

False

In [302]:
set1.isdisjoint(set)

False

In [303]:
set.issubset(set1)

False

In [304]:
set1.issubset(set)

False

In [305]:
set.clear()

In [306]:
set

set()

In [308]:
set = {11,22,33,44}

In [309]:
set.isdisjoint(set1)

True

In [312]:
set1.isdisjoint(set)

True

In [313]:
set1.clear()

In [314]:
set1

set()

In [315]:
set1={11,22,33}

In [316]:
set.issubset(set1)

False

In [317]:
set1.issubset(set)

True

# Tuple

In [323]:
tp=('asd','@','qwert',3,3,3)

In [324]:
tp

('asd', '@', 'qwert', 3, 3, 3)

In [325]:
tp.count('@')

1

In [326]:
tp.count(3)

3

In [327]:
tp.index(3)

3

In [328]:
tp.index('asd')

0

# String

In [329]:
msg = 'my python assignment'

In [330]:
msg.title()

'My Python Assignment'

In [331]:
msg.lower()

'my python assignment'

In [332]:
msg.upper()

'MY PYTHON ASSIGNMENT'

In [333]:
msg.capitalize()

'My python assignment'

In [334]:
msg.casefold()

'my python assignment'

In [337]:
msg.center(100)

'                                        my python assignment                                        '

In [338]:
msg.center(500)

'                                                                                                                                                                                                                                                my python assignment                                                                                                                                                                                                                                                '

In [341]:
msg.count('my')

1

In [356]:
msg.count('s')

2

In [342]:
msg.endswith('q')

False

In [344]:
msg.endswith('t')

True

In [345]:
msg

'my python assignment'

In [352]:
"My\tDreams".expandtabs(5)

'My   Dreams'

In [354]:
"My\tDreams".expandtabs(20)

'My                  Dreams'

In [357]:
msg.split()

['my', 'python', 'assignment']

In [358]:
a=msg.split()

In [359]:
a[0]

'my'

In [360]:
a[2]

'assignment'

In [363]:
"hello world\n ha ha ha".splitlines()

['hello world', ' ha ha ha']

In [362]:
msg.splitlines()

['my python assignment']

In [364]:
msg.replace('assignment','assignments')

'my python assignments'

In [367]:
msg.partition('a')

('my python ', 'a', 'ssignment')

In [368]:
msg.partition('s')

('my python a', 's', 'signment')

In [373]:
msg.join('111')

'1my python assignment1my python assignment1'

In [374]:
msg.join('1221')

'1my python assignment2my python assignment2my python assignment1'